<h1>Table Filters</h1>
<form [formGroup]="form" (ngSubmit)="onFilterSubmit($event)">
  <p>
      <label>Subreddit:</label>
      <input type="text" formControlName="subreddit">
  </p>
  <p>
      <button type="submit" [disabled]="!form.valid">Submit</button>
  </p>
</form>
<div>
  <h4>
    Sort By:
  </h4>
  <div class="switch"> 
    <label>
      Asc
      <input type="checkbox" (click)="changeSortOrder($event)">
      <span class="lever"></span>
      Dsc
    </label>
  </div>
  <a href="#" (click)="sortByDateClicked()">
    Date
  </a>
  <span>
    |
  </span>
  <a href="#" (click)="sortByScoreClicked()">
    Score
  </a>
  <p>
    <a href="#" (click)="reset()">
      Reset
    </a>
  </p>

</div>
